<div class="home">
    <div class="jumbotron text-center">
        <p><strong>{{ tagline }}</strong></p>

        <p style="text-align: right;">Still in the process of defining this project. With the said the purpose of it is to contribute, openly and publicly as I build out the entire project, from the site, to the community. This will be the focus for the next 60 days.<br/> I do hope you hang in there with me as I build this out.</p>
    </div>

    <div class="main">
        <!--
        <h3>Where am I at right now? - where would you like to be?</h3>

        <h3>All the pains that I had getting to the point that I'm at now. - Things that you're struggling with that you would need help wit to get over.</h3>

        <h3>Things that I know now that would have made those things lose painful - What you need to know to get started.</h3>
        -->
    </div>
</div>
